<%= form_tag("/forms/select",method: "get")do %>
<%= collection_select :genre,:select_genre,Micropost.all,:genre,:genre %>
<%= submit_tag "一覧表示" %>
<% end %>
<h1>投稿の一覧</h1>
<class="micropost">
<% @microposts.each do |micropost|%>
<p>投稿内容</p>
<span class="content">
投稿した人のid
<%= micropost.content %>
ジャンル
<%=micropost.genre %>
</span>
<% end %>


